{% extends "index.html" %}

{% block content %}
<div class="container">
<div class="col-md-3"></div>
<div class="col-md-6 ">
       <form class="form-horizontal">
        <label for="projectname" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
<!--
      <div class="form-group">
        <label for="projectowner" class="col-sm-2 control-label">owner</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="owner" placeholder="Owner">
        </div>
      </div>

      <div class="form-group">
        <label for="starttime3" class="col-sm-2 control-label">starttime</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="starttime" placeholder="2016-07-10">
        </div>
      </div>

      <div class="form-group">
        <label for="deadline" class="col-sm-2 control-label">deadline</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="deadline" placeholder="xxxx-xx-xx">
        </div>
      </div>
-->

        <label for="school" class="col-sm-2 control-label">School</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="school" placeholder="school">
        </div>

        <label for="department" class="col-sm-2 control-label">department</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="department" placeholder="D">
        </div>


       <label for="major" class="col-sm-2 control-label">Major</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="major" placeholder="major">
        </div>

        <label for="min_num" class="col-sm-2 control-label">min_num</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="min_num" placeholder="2">
        </div>
  

     
        <label for="max_num" class="col-sm-2 control-label">max_num</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="max_num" placeholder="6">
        </div>


        <label for="description" class="col-sm-2 control-label">description</label>
        <textarea type="description" name="description" class="form-control" rows="3"
         id="description" placeholder="project description">
         </textarea>
  

     
        <div class="col-sm-offset-2 col-sm-10">
          <button  class="btn btn-primary" id="create_project">OK</button>
          <button  class="btn btn-primary" >Cancel</button>
        </div>
  </div>
</form>


</div>
<div class="col-md-3"></div>
</div>
<script type="text/javascript" src="/static/teamBuilder/js/create_project.js"></script>
{% endblock %}
