{% extends "index.html" %}

{% block content %}
  <div class="container" id="manage_project_container">
    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">project infomation</h3>
          </div>
          <div class="panel-body">
            <p>name:<span id="name"></span></p>
            <p>description:<span id="description"></span></p>
            <p>status:<span id="status"></span></p>
            <p>project:<span id="project"></span></p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>
          <div class="panel-body">
            
            <a class="btn btn-default" href="#" role="button">create New project</a>
          </div>
        </div>

    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">project owned</h3>
          </div>
          <div class="panel-body">
            <div id="team_list">

            </div>
          </div>
        </div>
    </div>
{% endblock %}