{% include 'index.html' %}

{% block content %}
	<div class="col-md-7">
		<ul>
			<li style="display"><span>  项目名称 </span> ACM</li>
			<li style="display"><span>项目发起者 </span> xx</li>
			<li style="display"><span>开始时间 </span> </li>
			<li style="display"><span>结束时间 </span> </li>
			<li style="display"><span>发起组织 </span> </li>
		</ul>
	</div>
		<div class="col-md-7">
		<p class= "">
		</p>
	</div>
	<div class="col-md-7">
		<div class="col-sm-offset-2">
			<button type="createteam" class="btn btn-primary">createteam</button>
         </div>
	</div>
		<div class="col-md-7">
		</div>
	</div>
{% endblock %}