{% extends "index.html" %}

{% block content %}
<div class="container" id="project_detail_container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">project infomation</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li style="display">Title:  <span id ="title"> ACM</span> </li>
                <li style="display">Owner:  <span id ="owner" >xx</span>  </li>
                <li style="display">Starttime <span > xxxx-xx-xx</span>   </li>
                <li style="display">Deadline  <span id ="deadline"> xxxx-xx-xx</span> </li>
                <li style="display">School  <span id ="school"> C </span> </li>
            </ul>
         </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
        <a href="www.baidu.com" class="btn btn-primary" role="button">createteam</a>
        </div>
    </div>


    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">applied Team</h3>
          </div>
          <div class="panel-body">
           
                <dl class = "dl-horizontal">
                    <dt class="list-group-item">Team1</dt>
                     <dd id ="team1">a </dd>
                    <dt class="list-group-item">Team2</dt>
                     <dd id ="team2"> b</dd>
                    <dt class="list-group-item">Team3</dt>
                     <dd id ="team3"> c </dd>
                    <dt class="list-group-item">Team4</dt>
                     <dd id ="team4">d </dd>
                </dl>
          </div>
    </div>
</div>
{% endblock %}