{% block content %}
	<div class="col-md-7">
		<ul>
			<span> {% Name %} 项目名称 </span> <li style="display"> ACM</li>
			<span>项目发起者 </span> <li style="display"> xx</li>
			<span>开始时间 </span> <li style="display"> </li>
			<span>结束时间 </span> <li style="display"> </li>
			<span>发起组织 </span> <li style="display"> </li>
		</ul>
	</div>
		<div class="col-md-7">
		<p class= "">
		</p>
	</div>
	<div class="col-md-7">
		<div class="col-sm-offset-2">
			<button type="createteam" class="btn btn-primary">createteam</button>
         </div>
	</div>
		<div class="col-md-7">
		</div>
	</div>
{% endblock %}