{% block header %}
    <div style="margin-bottom:30px;">
        <div class="navbar-inverse">
            <img src="/static/teamBuilder/images/logo.png" style="height:100px;" alt="logo imgae" />
        </div>
        <!-- Collect the nav links and forms -->
        <div class="collapse navbar-collapse navbar-inverse">
            <ul class="nav navbar-nav unlogined">
                <li class="presentation"><a href="/teambuilder">Home</a></li>
                <li class="presentation"><a href="/teambuilder/login">Login</a></li>
                <li class="presentation"><a href="/teambuilder/register">Register</a></li>
            </ul>
            <ul class="nav navbar-nav logined">
                <li class="presentation"><a href="/teambuilder">Home</a></li>
            </ul>
            <div class="navbar-form navbar-right search-block" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" id="search-key">
                </div>
                <button class="btn btn-default" id="search">Search</button>
            </div>
        </div><!-- /.navbar-collapse -->
    </div>
{% endblock %}
