{% load staticfiles %}
<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
    <body>

        <div class="header">
            {% include "header.html" %}
        </div>

        <div class="content container" style="margin-bottom:30px;">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            {% include "footer.html" %}
        </div>

    </body>
</html>
