{% include "index.html" %}

{% block content %}

<div>
    <div class="col-sm-3">
        <p class="bg-primary">项目Title</p>
        <p class="bg-success">Owner: test</p>
        <p class="bg-success">发布时间:2016-07-08</p>
        <p class="bg-success">Tag:大数据</p>
    </div>
</div>

<div>
    <div class="col-sm-3">
        <p class="bg-primary">项目Title</p>
        <p class="bg-success">Owner: test</p>
        <p class="bg-success">发布时间:2016-07-08</p>
        <p class="bg-success">Tag:大数据</p>
    </div>
</div>

<div>
    <div class="col-sm-3">
        <p class="bg-primary">项目Title</p>
        <p class="bg-success">Owner: test</p>
        <p class="bg-success">发布时间:2016-07-08</p>
        <p class="bg-success">Tag:大数据</p>
    </div>
</div>

<div>
    <div class="col-sm-3">
        <p class="bg-primary">项目Title</p>
        <p class="bg-success">Owner: test</p>
        <p class="bg-success">发布时间:2016-07-08</p>
        <p class="bg-success">Tag:大数据</p>
    </div>
</div>

<div>
    <div class="col-sm-3">
        <p class="bg-primary">项目Title</p>
        <p class="bg-success">Owner: test</p>
        <p class="bg-success">发布时间:2016-07-08</p>
        <p class="bg-success">Tag:大数据</p>
    </div>
</div>

{% endblock %}