{% extends "index.html" %}

{% block content %}
    <div class="container">
        <div>
            <div class="form-group">
                <input id="teamID" type="text" name="teamID" style="display:none;">
                <label for="teamname">Team name</label>
                <input type="text" name="name" class="form-control" id="teamname" placeholder="team name">
                <div class="enter_team_msg_tags">
                    <label class="checkbox-inline">
                      <input type="checkbox" id="tag1" name="tag1" value="web"> web
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="tag2" name="tag2" value="算法"> 算法
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="tag3" name="tag3" value="机器学习"> 机器学习
                    </label>
                </div>
                <textarea type="description" name="description" class="form-control" rows="3" id="desc" placeholder="team description"></textarea>
                </br>
                <button class="btn btn-primary" id="create-team">创建队伍</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/teamBuilder/js/create_team.js"></script>
{% endblock %}