{% extends "index.html" %}

{% block content %}
    <div class="container" id="team_detail_container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">team infomation</h3>
          </div>
          <div class="panel-body">
            <p>name:<span id="name"></span></p>
            <p>description:<span id="description"></span></p>
            <p>status:<span id="status"></span></p>
            <p>project:<span id="project"></span></p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">team apply //only for the team leader</h3>
          </div>
          <div class="panel-body">
            <p>name:message</p>
            <a class="btn btn-default" href="#" role="button">agree</a>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">team apply //only for the team leader</h3>
          </div>
          <div class="panel-body">
            <p>name:message</p>
            <a class="btn btn-default" href="#" role="button">agree</a>
          </div>
        </div>
        <div class="row" id="member_list">
          <div class="col-md-3">
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-body">
                    <img src="/static/images/touxiang.jpg" alt="avator" style="width:55px;height:55px;display:inline-block;"/>
                    <div style="display:inline-block">
                        <p>membername</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-body">
                    <img src="/static/images/touxiang.jpg" alt="avator" style="width:55px;height:55px;display:inline-block;"/>
                    <div style="display:inline-block">
                        <p>membername</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-body">
                    <img src="/static/images/touxiang.jpg" alt="avator" style="width:55px;height:55px;display:inline-block;"/>
                    <div style="display:inline-block">
                        <p>membername</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-body">
                    <img src="/static/images/touxiang.jpg" alt="avator" style="width:55px;height:55px;display:inline-block;"/>
                    <div style="display:inline-block">
                        <p>membername</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-body">
                    <img src="/static/images/touxiang.jpg" alt="avator" style="width:55px;height:55px;display:inline-block;"/>
                    <div style="display:inline-block">
                        <p>membername</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <form action="/api/teams/:id/join_apply" method="post" id="form_apply">
            <div class="form-group">
                <textarea type="description" class="form-control" rows="3" id="msg" placeholder="leave a msg"></textarea>
                </br>
                <input id="userId" type="text" name="userId" style="display:none;">
                <button type="submit" class="btn btn-default">apply for this team</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/static/teamBuilder/js/team_detail.js"></script>
{% endblock %}